/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sigmar&display=swap');
body{
    background-image: url(../Img/fondoMain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Sigmar', cursive;
    color: black;
    display: inline-block;
    text-align: center;
    border: 5px black dotted;
    padding: 10px;
}
.Menu{
    display: flex;
    background-color: burlywood;
    border: 2px solid black;
    height: 50px;
    gap: 10px;
}
a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 0 10px;
}
a:hover{
    background-color: black;
    color: white;
}
footer{
    text-align: center;
}
.Logo{
    width: 200px;
    height: 150px;
}
.presentaciones{
    font-size: 20px;
}
.exposicion1 .Imagen1{
    width: 550px;
}
.exposicion1{
    margin: 10px;
    position: relative;
    left: 270px;
}
.exposicion2 .Imagen2{
    width: 550px; 
}
.exposicion2{
    margin: 20px;
    position: relative;
    left: 300px;
}
.Registrarse{
    display: inline;
}
/* .RPM{
    display: inline-block;
} */
.exposicion3{
    margin: 20px;
    display: block;
    width: 570px;
    position: relative;
    left: 260px;
}
.exposicion3 .Imagen3{
    width: 550px;
}
figure{
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
}
.bxl-facebook{
    font-size: 25px;
    color: black;
}
p{
    margin: 10px;
}
.bxl-instagram-alt{
    font-size: 25px;
    color: black;
}
.presentacion{
    text-align: center;
}
main header{
    text-align: center;
}
.Menu{
    background-color: burlywood;
}
.Inicio-registro li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.Inicio-registro li a{
    text-decoration: none;
    color: white;
}
header a:hover{
    background-color: black;
    color: white;
}
.Inicio-registro{
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 1590px;
}
