/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sigmar&display=swap');
*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
main{
    background-image: url(../Img/fondoMain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1050px;
    background-attachment: fixed;
}
h1{
    font-family: 'Sigmar', cursive;
    color: white;
    display: inline-block;
    text-align: center;
    border-bottom: 9px orange dotted;
    padding-bottom: 0;
    -webkit-text-stroke: 2px black;
    height: 48px;
    margin-top: 10px;
}
.Menu{
    display: flex;
    border: 2px solid black;
    height: 50px;
    gap: 10px;
    padding: 10px;
    background-color: rgba(231, 140, 66, 0.897);
}
a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 0 10px;
}
a:not(.no-hover):hover{
    background-color: black;
    color: white;
}
footer{
    text-align: center;
    border: 1px solid black;
    position: relative;
    bottom: 0;
    background-color: cadetblue;
    height: 80px;
    width: 100%;
}
.Logo{
    width: 1950px;
    height: 300px;
}
.presentaciones{
    font-size: 20px;
}
.exposicion1 .Imagen1{
    width: 550px;
}
.exposicion1{
    margin: 10px;
    position: relative;
    left: 270px;
}
.exposicion2 .Imagen2{
    width: 550px; 
}
.exposicion2{
    margin: 20px;
    position: relative;
    left: 300px;
}
.Registrarse{
    display: inline;
}
.exposicion3{
    margin: 20px;
    display: block;
    width: 550px;
    position: relative;
    left: 260px;
}
.exposicion3 .Imagen3{
    width: 550px;
}
.exposicion4{
    margin: 20px;
    display: block;
    width: 550px;
    height: 383px;
    position: absolute;
    left: 915px;
    top: 525px;
}
.exposicion4 .imagen4{
    width: 550px;
}
figure{
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
}
.bxl-facebook{
    font-size: 25px;
    color: black;
}
p{
    margin: 10px;    
}
.bxl-instagram-alt{
    font-size: 25px;
    color: black;
}
.presentacion{
    background-color: rgb(231, 140, 66);
    width: 800px;
    position: relative;
    left: 450px;
    font-size: 20px;
}
main header{
    text-align: center;
}
.Inicio-registro li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.Inicio-registro li a{
    text-decoration: none;
    color: white;
}
.Inicio-registro{
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 1590px;
}
.content{
    display: flex;
    border: 2px solid black;
    margin-bottom: 10px;
    width: 150px;
    padding: 10px;
    gap: 10px;
    position: absolute;
    left: 1680px;
    top: 50px;
    background-color: rgba(0, 132, 255, 0.829);
    text-align: center;
    flex-direction: column;
}
.item-1{
    flex-grow: 1;
}
.item-2{
    flex-grow: 1;
}
.no-border{
    border: none;
}
#inicio{
    position: relative;
    left: 35px;
}
figure figcaption{
    background-color: orange;
}
