
#contenedor{
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}
#contenedor>div{
    width: 350px;
    height: 500px;
    border: 2px solid black;
    margin: 2%;
}
#contenedor img{
    width: 220px;
}
h3{
    margin: 0;
    margin-bottom: 0;
}
p{
    margin: 0;
    margin-bottom: 0;
}
#circulo{
    width: 300px;
    height: 60px;
    margin: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circulo>div{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(24, 129, 228, 0.61);
}
.articulo1 a{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0;
}
.boton{
    width: 98%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boton button{
    height: 40px;
    width: 150px;
    background-color: green;
    color: white;
    font-size: 17px;
}
.tienda{
    margin-top: 40px;
} 

.navbar-toggler{
    font-size: 100px;
}
.articulo1{
    padding: 10px;
}
/* Alineando la imagen de wsp*/
.block{
   grid-area: footer;
}
#logoWsp{
    width: 3.5%;
}
/* Aumentando la burbuja en accesorios */
#burbuja2{
    padding-left: 20px;
}


